@charset "UTF-8";
/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@-webkit-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@-moz-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@-ms-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

/* line 7, common.scss */
body { font-family: AvenirNext-Roman, "YuGothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; line-height: 140%; font-size: 14px; }
/* line 11, common.scss */
body .test { font-size: 24px; }

/* line 15, common.scss */
p { line-height: 140%; }

/* line 18, common.scss */
.container { position: relative; }

/* line 21, common.scss */
.inner { padding: 0 20px; }

/* line 25, common.scss */
::selection { background: #ffe500; }

/* line 28, common.scss */
::-moz-selection { background: #ffe500; }

/* line 32, common.scss */
a { text-decoration: none; color: #000000; }

/* line 36, common.scss */
a:hover { color: rgba(0, 0, 0, 0); text-decoration: none; background: transparent url("../img/pattern2@2x.gif") repeat 0 0; background-size: 7px 7px; }
/* line 38, common.scss */
a:hover h1, a:hover h3, a:hover p, a:hover span { color: rgba(0, 0, 0, 0); background: none; }

/* line 46, common.scss */
a:active { color: #000000; text-decoration: none; }

/* line 51, common.scss */
#all { width: 980px; margin: 0px auto; }
/* line 54, common.scss */
#all #global_header { position: relative; height: 200px; }
/* line 57, common.scss */
#all #global_header hr { background: transparent url("../img/pattern0@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 60, common.scss */
#all #global_header .title { position: absolute; left: 18px; top: 34px; }
/* line 64, common.scss */
#all #global_header .title a { display: block; }
/* line 66, common.scss */
#all #global_header .title a h1 { text-indent: 100%; white-space: nowrap; overflow: hidden; display: block; width: 160px; height: 128px; display: inline-block; background: url("../img/logo_new@2x.png") no-repeat center center; background-size: 120px 127px; }
/* line 76, common.scss */
#all #global_header .title a:hover h1 { background: none; }
/* line 83, common.scss */
#all #global_header nav { position: absolute; left: 180px; top: 20px; background: transparent url("../img/block0@2x.png") no-repeat 0 16px; background-size: 86px 7px; padding-top: 60px; }
/* line 88, common.scss */
#all #global_header nav ul { padding-top: 0px; }
/* line 90, common.scss */
#all #global_header nav ul li { display: inline-block; border-right: 1px solid #cccccc; }
/* line 97, common.scss */
#all #global_header nav ul li:last-child { border-right: none; }
/* line 100, common.scss */
#all #global_header nav ul li a { color: #000000; display: block; padding-left: 20px; padding-right: 20px; }
/* line 106, common.scss */
#all #global_header nav ul li .serif { font-weight: bold; font-size: 14px; margin-bottom: 5px; }
/* line 112, common.scss */
#all #global_header nav ul li .en { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 10px; letter-spacing: 0.15em; }
/* line 118, common.scss */
#all #global_header nav ul.social { margin-top: 10px; border-top: 1px solid #CCCCCC; padding-top: 10px; }
/* line 123, common.scss */
#all #global_header nav ul.social li .en { font-size: 12px; }
/* line 130, common.scss */
#all #global_header .search { position: absolute; right: 20px; top: 36px; width: 180px; }
/* line 135, common.scss */
#all #global_header .search input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #cccccc; width: 180px; height: 36px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
/* line 146, common.scss */
#all #heroes { height: 140px; margin-bottom: 40px; }
/* line 150, common.scss */
#all #heroes .inner .img1 { background: transparent url("../img/pattern2@2x.png") repeat 0 0; background-size: 35px 35px; background-position: 0px 0px; height: 140px; -webkit-animation-name: heroes_animation; -moz-animation-name: heroes_animation; -ms-animation-name: heroes_animation; -o-animation-name: heroes_animation; animation-name: heroes_animation; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: normal; -moz-animation-direction: normal; -ms-animation-direction: normal; -o-animation-direction: normal; animation-direction: normal; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; -ms-animation-timing-function: linear; -o-animation-timing-function: linear; animation-timing-function: linear; }
/* line 167, common.scss */
#all #main { width: 100%; display: -webkit-box; display: -moz-box; }
/* line 171, common.scss */
#all #main .contents { width: 680px; display: block; vertical-align: top; }
/* line 175, common.scss */
#all #main .contents .post { display: inline-block; width: 297px; padding: 0px 9px 20px 20px; vertical-align: top; }
/* line 181, common.scss */
#all #main .contents .post hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 185, common.scss */
#all #main .contents .post .container { background: transparent url("../img/block1@2x.png") no-repeat 0 16px; background-size: 86px 8px; padding-top: 60px; padding-top: 40px; }
/* line 188, common.scss */
#all #main .contents .post .container > .date { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 30px; margin-bottom: 20px; display: inline-block; text-transform: uppercase; }
/* line 196, common.scss */
#all #main .contents .post .container .body { margin-bottom: 20px; }
/* line 198, common.scss */
#all #main .contents .post .container .body img { width: 100%; margin-bottom: 20px; }
/* line 202, common.scss */
#all #main .contents .post .container .body iframe { width: 100%; }
/* line 205, common.scss */
#all #main .contents .post .container .body a { text-decoration: underline; }
/* line 207, common.scss */
#all #main .contents .post .container .body a:hover { text-decoration: none; }
/* line 214, common.scss */
#all #main .contents .post .container .body blockquote { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; line-height: 140%; margin-bottom: 20px; }
/* line 223, common.scss */
#all #main .contents .post .container .images img { margin-bottom: 20px; }
/* line 227, common.scss */
#all #main .contents .post .container h1 { font-weight: bold; font-size: 14px; margin-bottom: 10px; }
/* line 232, common.scss */
#all #main .contents .post .container p { color: #333333; font-size: 12px; margin-bottom: 20px; }
/* line 238, common.scss */
#all #main .contents .post .container .more { display: none; position: relative; margin-bottom: 20px; }
/* line 242, common.scss */
#all #main .contents .post .container .more .grad { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff); width: 100%; height: 100px; z-index: 10; position: absolute; left: 0; top: -100px; }
/* line 251, common.scss */
#all #main .contents .post .container .more .btn_more { padding: 3px 10px; border: 2px solid #000000; display: inline-block; font-size: 12px; font-weight: bold; text-decoration: none; }
/* line 260, common.scss */
#all #main .contents .post .container .info { margin-bottom: 20px; }
/* line 263, common.scss */
#all #main .contents .post .container .info .content_source a { color: #CCCCCC; }
/* line 265, common.scss */
#all #main .contents .post .container .info .content_source a:hover { color: rgba(0, 0, 0, 0); }
/* line 270, common.scss */
#all #main .contents .post .container .info .tags { font-size: 12px; }
/* line 272, common.scss */
#all #main .contents .post .container .info .tags a { color: #CCCCCC; }
/* line 274, common.scss */
#all #main .contents .post .container .info .tags a:hover { color: rgba(0, 0, 0, 0); }
/* line 281, common.scss */
#all #main .contents .post .container .info { margin-bottom: 20px; }
/* line 283, common.scss */
#all #main .contents .post .container .info .content_source { margin-bottom: 0px; }
/* line 285, common.scss */
#all #main .contents .post .container .info .content_source a { color: #CCCCCC; }
/* line 287, common.scss */
#all #main .contents .post .container .info .content_source a:hover { color: rgba(0, 0, 0, 0); }
/* line 292, common.scss */
#all #main .contents .post .container .info .tags { margin-bottom: 0px; font-size: 12px; }
/* line 295, common.scss */
#all #main .contents .post .container .info .tags a { color: #CCCCCC; }
/* line 297, common.scss */
#all #main .contents .post .container .info .tags a:hover { color: rgba(0, 0, 0, 0); }
/* line 303, common.scss */
#all #main .contents .post .container footer { color: #cccccc; border-top: 1px solid #cccccc; margin-top: 10px; padding-top: 10px; font-size: 12px; display: table; clear: both; position: relative; width: 100%; }
/* line 313, common.scss */
#all #main .contents .post .container footer .meta { display: table-cell; vertical-align: middle; }
/* line 316, common.scss */
#all #main .contents .post .container footer .meta .notes { font-weight: bold; padding: 5px; background: #cccccc; color: #FFFFFF; border-radius: 4px; font-size: 10px; margin-right: 5px; }
/* line 326, common.scss */
#all #main .contents .post .container footer .post-controls { display: table-cell; text-align: right; }
/* line 335, common.scss */
#all #main .side { width: 279px; margin-right: 20px; display: inline-block; }
/* line 339, common.scss */
#all #main .side hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 342, common.scss */
#all #main .side .box { background: transparent url("../img/block1@2x.png") no-repeat 0 16px; background-size: 86px 8px; padding-top: 60px; line-height: 140%; }
/* line 345, common.scss */
#all #main .side .box:last-child { border-bottom: none; }
/* line 349, common.scss */
#all #main .side .box > p { margin: 0 20px; line-height: 180%; font-size: 11px; color: #666666; }
/* line 355, common.scss */
#all #main .side .box > .twitter_container { margin: 0 10px 20px; }
/* line 358, common.scss */
#all #main .side .box header { margin: 0px 20px 15px; text-align: center; }
/* line 361, common.scss */
#all #main .side .box header a { display: block; }
/* line 364, common.scss */
#all #main .side .box header h3 { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 32px; margin-bottom: 5px; display: inline-block; text-align: left; }
/* line 371, common.scss */
#all #main .side .box header p { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 12px; }
/* line 376, common.scss */
#all #main .side .box .fb-like-box { width: 279px; }
/* line 379, common.scss */
#all #main .side .box footer { margin: 15px 20px 20px; font-size: 11px; }
/* line 382, common.scss */
#all #main .side .box footer a { font-size: 11px; font-weight: bold; color: #ffe500; }
/* line 392, common.scss */
#all .pagenation { position: relative; height: 180px; }
/* line 395, common.scss */
#all .pagenation hr { background: transparent url("../img/pattern0@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 399, common.scss */
#all .pagenation a { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 32px; }
/* line 403, common.scss */
#all .pagenation .prev_next { background: transparent url("../img/block2@2x.png") no-repeat 0 16px; background-size: 88px 7px; padding-top: 60px; position: absolute; left: 20px; top: 25px; }
/* line 408, common.scss */
#all .pagenation .prev_next a { padding-left: 15px; padding-right: 15px; border-right: 1px solid #cccccc; }
/* line 412, common.scss */
#all .pagenation .prev_next a:last-child { border-right: none; }
/* line 415, common.scss */
#all .pagenation .prev_next a.current-page { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 4px 4px; }
/* line 421, common.scss */
#all .pagenation .back { position: absolute; right: 20px; top: 25px; }
/* line 427, common.scss */
#all .follow { border-top: 1px solid #cccccc; padding: 10px 0px 10px 10px; }
/* line 431, common.scss */
#all .follow ul li { display: inline-block; margin-right: 10px; }
/* line 437, common.scss */
#all #global_footer { position: relative; height: 142px; margin-bottom: 100px; }
/* line 441, common.scss */
#all #global_footer hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 446, common.scss */
#all #global_footer .copyright { background: transparent url("../img/block3@2x.png") no-repeat 0 16px; background-size: 96px 7px; padding-top: 60px; position: absolute; left: 0px; top: 10px; color: #000000; font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 24px; }
/* line 456, common.scss */
#all #global_footer .links { background: transparent url("../img/block0@2x.png") no-repeat 0 16px; background-size: 86px 7px; padding-top: 60px; position: absolute; right: 0px; top: 10px; }
/* line 461, common.scss */
#all #global_footer .links li { display: block; margin-left: 0px; }
/* line 465, common.scss */
#all #global_footer .links li a { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 24px; }

/* line 477, common.scss */
.post-controls { display: table-cell; vertical-align: middle; }
/* line 480, common.scss */
.post-controls > ul { float: right; margin-right: 0px; }
/* line 483, common.scss */
.post-controls > ul > li { float: left; height: 28px; position: relative; width: 36px; }
/* line 488, common.scss */
.post-controls > ul > li:first-child { border-left: none; }
/* line 491, common.scss */
.post-controls > ul > li a { display: block; height: 21px; margin: 4px auto auto; text-decoration: none; }
/* line 497, common.scss */
.post-controls > ul > li .share { background: transparent url("../img/icon_share@2x.png") no-repeat 0 0; background-size: 23px 20px; width: 23px; height: 20px; margin-top: 2px; opacity: 0.355; }
/* line 504, common.scss */
.post-controls > ul > li .share:hover { opacity: 0.455; }
/* line 508, common.scss */
.post-controls > ul > li.facebook { width: auto; margin-left: 5px; height: 20px; padding-top: 4px; }
/* line 514, common.scss */
.post-controls > ul > li.twitter { width: auto; margin-left: 5px; height: 20px; padding-top: 4px; }
/* line 520, common.scss */
.post-controls > ul > li .reblog_button { margin: 3px 10px 0; opacity: 0.355; }
/* line 523, common.scss */
.post-controls > ul > li .reblog_button :hover { opacity: 0.455; }
/* line 527, common.scss */
.post-controls > ul > li .like_button { display: block; height: 20px; margin: 3px auto auto; width: 21px; opacity: 0.355; position: relative; }
/* line 534, common.scss */
.post-controls > ul > li .like_button:hover { opacity: 0.455; }
/* line 537, common.scss */
.post-controls > ul > li .like_button.interacted.liked:after { content: '\e601'; color: #cd1828; font-family: 'optica-icons', 'Blank'; font-size: 70px; height: 40px; width: 40px; -webkit-animation: wiggle 0.6s ease-out; -o-animation: wiggle 0.6s ease-out; -ms-animation: wiggle 0.6s ease-out; -moz-animation: wiggle 0.6s ease-out; animation: wiggle 0.6s ease-out; position: absolute; margin-top: -75px; left: -26px; z-index: 0; opacity: 0; speak: none; -webkit-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; transform-origin: 100% 100%; }
/* line 561, common.scss */
.post-controls > ul > li .like_button.liked { opacity: 1; }
/* line 564, common.scss */
.post-controls > ul > li .like_button iframe { position: relative; z-index: 1; vertical-align: top; }

/* line 573, common.scss */
.pop-menu { display: none; background: #fff; border-radius: 4px; position: absolute; bottom: 35px; left: 0px; width: 146px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); z-index: 10; }
/* line 585, common.scss */
.pop-menu ul { float: none; margin: 0 !important; padding: 0; text-align: left; }
/* line 590, common.scss */
.pop-menu ul li { border-left: none; float: none; height: auto; position: relative; width: auto; }
/* line 596, common.scss */
.pop-menu ul li.search { border-bottom: 1px solid #eee; }
/* line 599, common.scss */
.pop-menu ul li:not(.no-hover):hover { background: #e6eff7; }
/* line 602, common.scss */
.pop-menu ul li:last-child { border-bottom: none; }
/* line 605, common.scss */
.pop-menu ul li::last-child:hover { border-radius: 0 0 4px 4px; }
/* line 608, common.scss */
.pop-menu ul li:last-child:hover:after { background: #e6eff7; }
/* line 611, common.scss */
.pop-menu ul li:first-child { border-top: none; }
/* line 614, common.scss */
.pop-menu ul li a { background: none; color: #444; display: block; font-size: 14px; height: auto; margin: 0; padding: 6px 10px 6px 10px; position: relative; text-decoration: none; width: auto; }
/* line 625, common.scss */
.pop-menu ul li a .icon-arrow_carrot_right { font-size: 11px; position: absolute; right: 8px; top: 50%; margin-top: -1px; }
/* line 635, common.scss */
.pop-menu.show { display: block; opacity: 0; }
/* line 639, common.scss */
.pop-menu.active { opacity: 1; }

/* line 644, common.scss */
.share-menu { bottom: 30px; }
/* line 646, common.scss */
.share-menu.active { bottom: 35px; }
/* line 651, common.scss */
.share-menu ul li.open-in-app { display: none; }
/* line 654, common.scss */
.share-menu ul li a { opacity: 1; }
/* line 656, common.scss */
.share-menu ul li a:hover { opacity: 1; }

/* line 668, common.scss */
body.page-permalink #all #main .contents { width: 620px; padding-right: 60px; }
/* line 671, common.scss */
body.page-permalink #all #main .contents .post { width: 100%; }
/* line 674, common.scss */
body.page-permalink #all #main .contents .post .container > .date { font-size: 60px; }
/* line 678, common.scss */
body.page-permalink #all #main .contents .post .container > .body > .caption { margin-top: 20px; font-size: 16px; line-height: 1.8em; }
/* line 682, common.scss */
body.page-permalink #all #main .contents .post .container > .body > .caption > p { font-size: 16px; line-height: 1.8em; }

/* line 701, common.scss */
body.page-index #all #main .contents .post .container .caption { overflow-y: hidden; max-height: 300px; }
/* line 704, common.scss */
body.page-index #all #main .contents .post .container .caption p:last-child { margin-bottom: 0px; }

/* line 716, common.scss */
body.page- .pagenation { display: none; }
/* line 724, common.scss */
body.page- #all #main .post .container header { margin-top: 20px; margin-bottom: 60px; }
/* line 725, common.scss */
body.page- #all #main .post .container header h1 { font-size: 30px; }
/* line 733, common.scss */
body.page- #all #main .post .container footer .post-controls { display: none; }
/* line 738, common.scss */
body.page- #all #main .post .container .body img { width: auto; }
/* line 743, common.scss */
body.page- #all #main .post .container #company table { border-collapse: collapse; border-spacing: 0; border: none; empty-cells: show; width: 100%; margin-bottom: 10px; }
/* line 751, common.scss */
body.page- #all #main .post .container #company table tr th { border: 1px solid #CCC; padding: 10px; background-color: #F0F0F0; font-weight: bold; text-align: left; vertical-align: top; }
/* line 759, common.scss */
body.page- #all #main .post .container #company table tr td { border: 1px solid #CCC; padding: 10px; text-align: left; vertical-align: top; }
/* line 767, common.scss */
body.page- #all #main .post .container #company .caption { text-align: right; }
/* line 772, common.scss */
body.page- #all #main .post .container #mission h3 { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 42px; margin-bottom: 14px; font-weight: bold; margin-bottom: 40px; }
/* line 779, common.scss */
body.page- #all #main .post .container #mission .message { display: inline-block; vertical-align: top; margin-right: 20px; }
/* line 780, common.scss */
body.page- #all #main .post .container #mission .message .figure { display: inline-block; vertical-align: top; text-align: center; width: 240px; float: right; margin-left: 20px; }
/* line 787, common.scss */
body.page- #all #main .post .container #mission .message .figure img { width: 240px; margin-bottom: 10px; }
/* line 791, common.scss */
body.page- #all #main .post .container #mission .message .figure .position { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 10px; margin-bottom: 0px; }
/* line 796, common.scss */
body.page- #all #main .post .container #mission .message .figure .name { font-size: 14px; margin-bottom: 0px; }
/* line 805, common.scss */
body.page- #all #main .post .container #mission .message p { line-height: 180%; font-size: 14px; }
/* line 813, common.scss */
body.page- #all #main .post .container #officer > ul > li { border-top: 1px solid #cccccc; margin-top: 20px; padding-top: 20px; }
/* line 817, common.scss */
body.page- #all #main .post .container #officer > ul > li .icon { display: inline-block; vertical-align: top; margin-right: 20px; }
/* line 821, common.scss */
body.page- #all #main .post .container #officer > ul > li .icon img { width: 80px; height: 80px; }
/* line 826, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile { display: inline-block; vertical-align: top; width: 500px; }
/* line 830, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile .position { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; margin-bottom: 10px; font-size: 14px; font-weight: bold; }
/* line 836, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile h3 { font-size: 30px; margin-bottom: 14px; font-weight: bold; }
/* line 844, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile .links a { padding: 0 5px; border-right: 1px solid #cccccc; }

@-webkit-keyframes heroes_animation { /* line 866, common.scss */
  0% { background-position: 0px 0px; }
  /* line 869, common.scss */
  100% { background-position: 35px 35px; } }

@-moz-keyframes heroes_animation { /* line 866, common.scss */
  0% { background-position: 0px 0px; }
  /* line 869, common.scss */
  100% { background-position: 35px 35px; } }

@-ms-keyframes heroes_animation { /* line 866, common.scss */
  0% { background-position: 0px 0px; }
  /* line 869, common.scss */
  100% { background-position: 35px 35px; } }

@keyframes heroes_animation { /* line 866, common.scss */
  0% { background-position: 0px 0px; }
  /* line 869, common.scss */
  100% { background-position: 35px 35px; } }
