@import "compass";
@import "compass/reset/";
@import "bases/vars";
@import "bases/mixins";
@import "bases/keyframes";

body {
  @include sans-serif;
  line-height: 140%;
  font-size: 14px;
  .test {
    font-size: 24px;
  }
}
p {
  line-height: 140%;
}
.container {
  position: relative;
}
.inner {
  padding: 0 20px;
}

::selection {
  background: $orange;
}
::-moz-selection {
  background: $orange;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: rgba(0,0,0,0);
  h1, h3, p, span {
    color: rgba(0,0,0,0);
    background: none;
  }
  text-decoration: none;
  background: transparent url("../img/pattern2@2x.gif") repeat 0 0;
  background-size: 7px 7px;
}
a:active {
  color: #000000;
  text-decoration: none;
}

#all {
  width: 980px;
  margin: 0px auto;
  #global_header {
    position: relative;
    height: 200px;
    hr {
      @include border0;
    }
    .title {
      position: absolute;
      left: 18px;
      top: 34px;
      a {
        display: block;
        h1 {
          @include css-sprite;
          width: 160px;
          height: 128px;
          display: inline-block;
          background: url("../img/logo_new@2x.png") no-repeat center center;
          background-size: 120px 127px;
          //margin: 10px 0 0 18px;
        }
        &:hover {
          h1 {
            background: none;
          }
        }
      }
    }

    nav {
      position: absolute;
      left: 200px;
      top: 20px;
      @include block0;
      ul {
        padding-top: 0px;
        li {
          display: inline-block;
          border-right: 1px solid $gray;

          &:first-child {
            //margin-left: -20px;
          }
          &:last-child {
            border-right:none;
          }
          a {
            color: #000000;
            display: block;
            padding-left: 40px;
            padding-right: 40px;
          }
          .serif {
            //@include serif;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
          }
          .en {
            @include condenced;
            font-size: 10px;
          }
        }
        &.social {
          margin-top: 10px;
          border-top: 1px solid #CCCCCC;
          padding-top: 10px;
          li {
            .en {
              font-size: 12px;
            }
          }
        }
      }
    }
    .search {
      position:absolute;
      right: 20px;
      top: 36px;
      width: 180px;
      input {
        @include appearance(none);
        border: 1px solid $gray;
        width: 180px;
        height:36px;
        @include border-radius(0px);
      }
    }
  }


  #heroes {
    height: 140px;
    margin-bottom: 40px;
    .inner {
      .img1 {
        background: transparent url("../img/pattern2@2x.png") repeat 0 0;
        background-size: 35px 35px;
        background-position: 0px 0px;
        height: 140px;
        @include experimental(animation-name, heroes_animation);
        @include experimental(animation-duration, 1.0s); //実行時間
        @include experimental(animation-iteration-count, infinite); //実行回数(number | infinite)
        @include experimental(animation-direction, normal); //反復の有無(normal | alternate)
        @include experimental(animation-delay, 0s); //実行までの待ち時間
        @include experimental(animation-fill-mode, both);//実行前や実行後のスタイル指定(none | forwards | backwards | both)
        @include experimental(animation-timing-function, linear);//タイミング(ease | liner | ease-in | ease-out | ease-in-out | cubic-bezier)
      }
    }
  }


  #main {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    .contents {
      width: 680px;
      display: block;
      vertical-align: top;
      .post {
        display: inline-block;
        width: 297px;
        padding: 0px 14px 20px 20px;
        vertical-align: top;

        hr {
          @include border1;
        }

        .container {
          @include block1;
          padding-top: 40px;
          > .date {
            @include condenced;
            font-size: 30px;
            margin-bottom: 20px;
            display: inline-block;
            text-transform: uppercase;
          }

          .body {
            margin-bottom: 20px;
            img {
              width: 100%;
            }
            iframe {
              width:100%;
            }
            a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
            &.video {

            }
            blockquote {
              @include serif;
              line-height: 140%;
              margin-bottom: 20px;
            }
          }


          .images {
            img {
              margin-bottom: 20px;
            }
          }
          h1 {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
          }
          p {
            color: #333333;
            font-size: 12px;
            margin-bottom: 20px;
          }
          .content_source {
            margin-bottom: 20px;
            a {
              color: #CCCCCC;
              &:hover {
                color: rgba(0,0,0,0);
              }
            }
          }
          .tags {
            margin-bottom: 20px;
            font-size: 12px;
            a {
              color: #CCCCCC;
              &:hover {
                color: rgba(0,0,0,0);
              }
            }
          }
          footer {
            color: $gray;
            border-top: 1px solid $gray;
            margin-top:10px;
            padding-top: 10px;
            font-size: 12px;
            display: table;
            clear: both;
            position: relative;
            width: 100%;
            .meta {
              display: table-cell;
              vertical-align: middle;
              .notes {
                color: $gray;
                font-weight: bold;
              }
            }
            .post-controls {
              display: table-cell;
              text-align: right;
            }
          }
        }

      }
    }
    .side {
      width: 279px;
      margin-right: 20px;
      display: inline-block;
      hr {
          @include border1;
        }
      .box {

        @include block1;
        &:last-child{
          border-bottom: none;
        }
        line-height: 140%;
        >p {
          margin: 0 20px;
          line-height: 180%;
          font-size: 11px;
          color: #666666;
        }
        >.twitter_container {
          margin: 0 10px 20px;
        }
        header {
          margin: 0px 20px 15px;
          text-align: center;
          a {
            display: block;
          }
          h3 {
            @include condenced;
            font-size: 32px;
            margin-bottom: 5px;
            display: inline-block;
            text-align: left;
          }
          p {
            @include serif;
            font-size: 12px;
          }
        }
        .fb-like-box {
          width: 279px;
        }
        footer {
          margin: 15px 20px 20px;
          font-size: 11px;
          a {
            font-size: 11px;
            font-weight: bold;
            color: $orange;
          }
        }
      }
    }
  }

  .pagenation {
    position: relative;
    height: 180px;
    hr {
      @include border0;
    }

    a {
      @include condenced;
      font-size: 32px;
    }
    .prev_next {
      @include block2;
      position:absolute;
      left: 20px;
      top: 25px;
      a {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid $gray;
        &:last-child{
          border-right: none;
        }
        &.current-page {
          background: transparent url("../img/pattern1@2x.png") repeat 0 0;
          background-size: 4px 4px;
        }
      }
    }
    .back {
      position:absolute;
      right: 20px;
      top: 25px;
    }
  }
  .follow {
    border-top: 1px solid $gray;
    padding: 10px 0px 10px 10px;
    ul {
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  #global_footer {
    position: relative;
    height: 142px;
    margin-bottom: 100px;
    hr {
      @include border1;
    }


    .copyright {
      @include block3;
      position:absolute;
      left: 0px;
      top: 10px;

      color: #000000;
      @include condenced;
      font-size: 24px;
    }
    .links {
      @include block0;
      position:absolute;
      right: 0px;
      top: 10px;
      li {
        display: block;

        margin-left: 0px;
        a {
          @include condenced;
          font-size: 24px;
        }
      }
    }
  }
}




.post-controls {
  display: table-cell;
  vertical-align: middle;
  > ul {
    float: right;
    margin-right: 0px;
    > li {
      float: left;
      height: 28px;
      position: relative;
      width: 40px;
      &:first-child {
        border-left: none;
      }
      a {
        display: block;
        height: 21px;
        margin: 4px auto auto;
        text-decoration: none;
      }
      .share {
        background: transparent url("../img/icon_share@2x.png") no-repeat 0 0;
        background-size: 23px 20px;
        width: 23px;
        height: 20px;
        margin-top: 2px;
        opacity: 0.355;
        &:hover {
          opacity: 0.455;
        }
      }
      &.facebook {
        width: auto;
        margin-left: 5px;
        height: 20px;
        padding-top:4px;
      }
      &.twitter {
        width: auto;
        margin-left: 5px;
        height: 20px;
        padding-top:4px;
      }
      .reblog_button {
        margin: 3px 10px 0;
        opacity: 0.355;
        :hover {
          opacity: 0.455;
        }
      }
      .like_button {
        display: block;
        height: 20px;
        margin: 3px auto auto;
        width: 21px;
        opacity: 0.355;
        position: relative;
        &:hover {
          opacity: 0.455;
        }
        &.interacted.liked:after {
          content: '\e601';
          color: #cd1828;
          font-family: 'optica-icons', 'Blank';
          font-size: 70px;
          height: 40px;
          width: 40px;
          -webkit-animation: wiggle 0.6s ease-out;
          -o-animation: wiggle 0.6s ease-out;
          -ms-animation: wiggle 0.6s ease-out;
          -moz-animation: wiggle 0.6s ease-out;
          animation: wiggle 0.6s ease-out;
          position: absolute;
          margin-top: -75px;
          left: -26px;
          z-index: 0;
          opacity: 0;
          speak: none;
          -webkit-transform-origin: 100% 100%;
          -o-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
          -moz-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
        }
        &.liked {
          opacity: 1;
        }
        iframe {
          position: relative;
          z-index: 1;
          vertical-align: top;
        }
      }
    }
  }
}
.pop-menu {
  display: none;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  bottom: 35px;
  left: 0px;
  width: 146px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 10;
  ul {
    float: none;
    margin: 0 !important;
    padding: 0;
    text-align: left;
    li {
      border-left: none;
      float: none;
      height: auto;
      position: relative;
      width: auto;
      &.search {
        border-bottom: 1px solid #eee;
      }
      &:not(.no-hover):hover {
        background: #e6eff7;
      }
      &:last-child {
        border-bottom: none;
      }
      &::last-child:hover {
        border-radius: 0 0 4px 4px;
      }
      &:last-child:hover:after {
        background: #e6eff7;
      }
      &:first-child {
        border-top: none;
      }
      a {
        background: none;
        color: #444;
        display: block;
        font-size: 14px;
        height: auto;
        margin: 0;
        padding: 6px 10px 6px 10px;
        position: relative;
        text-decoration: none;
        width: auto;
        .icon-arrow_carrot_right {
          font-size: 11px;
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: -1px;
        }
      }
    }
  }
  &.show {
    display: block;
    opacity: 0;
  }
  &.active {
    opacity: 1;
  }
}

.share-menu {
  bottom: 30px;
  &.active {
    bottom: 35px;
  }
  ul {
    li {
      &.open-in-app {
        display: none;
      }
      a {
        opacity: 1;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


body.page-permalink {
  #all {
    #main {
      .contents {
        width:620px;
        padding-right: 60px;
        .post {
          width: 100%;
          .container {
            >.date {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}

body.page- {
  .pagenation {
    display: none;
  }

  #all {
    #main {
      .post {
        .container {
          header {
            h1 {
              //@include serif;
              font-size: 30px;
            }
            margin-top: 20px;
            margin-bottom: 60px;
          }
          footer {
            .post-controls {
              display: none;
            }
          }
          .body {
            img {
              width: auto;
            }
          }
          #mission {
            h3 {
              @include serif;
              font-size: 42px;
              margin-bottom: 14px;
              font-weight: bold;
              margin-bottom: 40px;
            }
            .figure {
              display: inline-block;
              vertical-align: top;
              text-align: center;
              width: 240px;
              img {
                width: 240px;
                margin-bottom: 10px;
              }
              .position {
                @include serif;
                font-size: 10px;
                margin-bottom: 4px;
              }
              .name {
                //@include serif;
                font-size: 14px;
              }
            }
            .message {
              display: inline-block;
              width: 340px;
              vertical-align: top;
              margin-right: 20px;
              p {
                line-height: 180%;
                font-size: 14px;
              }
            }
          }
          #officer {
            >ul {
              >li {
                border-top: 1px solid $gray;
                margin-top:20px;
                padding-top: 20px;
                .icon {
                  display: inline-block;
                  vertical-align: top;
                  margin-right: 20px;
                  img {
                    width: 80px;
                    height: 80px;
                  }
                }
                .profile {
                  display: inline-block;
                  vertical-align: top;
                  width: 500px;
                  .position {
                    @include serif;
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  h3 {
                    font-size: 30px;
                    margin-bottom: 14px;
                    font-weight: bold;
                  }
                  .group {
                  }
                  .links {
                    a {
                      padding: 0 5px;
                      border-right: 1px solid $gray;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


}

#statics.index {

}

@include keyframes(heroes_animation) {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 35px 35px;
  }
}