/*
Syntax error: Invalid CSS after "...und-position: 3": expected selector or at-rule, was "{"
        on line 767 of /Users/akirafukuoka/Dropbox/Public/ahi/tumblr/fumblr/public/_html/common/css/common.scss

Backtrace:
/Users/akirafukuoka/Dropbox/Public/ahi/tumblr/fumblr/public/_html/common/css/common.scss:767
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/scss/parser.rb:898:in `expected'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/scss/parser.rb:841:in `expected'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/scss/parser.rb:27:in `parse'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/engine.rb:319:in `_to_tree'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/sass-3.1.1/lib/sass/engine.rb:238:in `render'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:130:in `block (2 levels) in compile'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:129:in `block in compile'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/logger.rb:45:in `red'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:128:in `compile'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:108:in `compile_if_required'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:95:in `block (2 levels) in run'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `each'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `block in run'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/compiler.rb:92:in `run'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/commands/update_project.rb:36:in `perform'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/commands/base.rb:18:in `execute'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/bin/compass:25:in `block in <top (required)>'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/bin/compass:39:in `call'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/gems/compass-0.11.1/bin/compass:39:in `<top (required)>'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/bin/compass:23:in `load'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/bin/compass:23:in `<main>'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/bin/ruby_executable_hooks:15:in `eval'
/Users/akirafukuoka/.rvm/gems/ruby-1.9.2-p320@fumblr/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...und-position: 3\": expected selector or at-rule, was \"{\"\A         on line 767 of /Users/akirafukuoka/Dropbox/Public/ahi/tumblr/fumblr/public/_html/common/css/common.scss"; }
