@charset "UTF-8";
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@-webkit-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@-moz-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@-ms-keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

@keyframes bgcolor { /* line 19, bases/_keyframes.scss */
  0% { background-color: #ffccf2; }
  /* line 22, bases/_keyframes.scss */
  50% { background-color: #ccffcc; }
  /* line 25, bases/_keyframes.scss */
  100% { background-color: #ccffff; } }

/* line 7, common.scss */
body { font-family: AvenirNext-Roman, "YuGothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; line-height: 140%; font-size: 14px; }
/* line 11, common.scss */
body .test { font-size: 24px; }

/* line 15, common.scss */
p { line-height: 140%; }

/* line 18, common.scss */
.container { position: relative; }

/* line 21, common.scss */
.inner { padding: 0 20px; }

/* line 25, common.scss */
::selection { background: #ff7f00; }

/* line 28, common.scss */
::-moz-selection { background: #ff7f00; }

/* line 32, common.scss */
a { text-decoration: none; color: #000000; }

/* line 36, common.scss */
a:hover { color: rgba(0, 0, 0, 0); text-decoration: none; background: transparent url("../img/pattern2@2x.gif") repeat 0 0; background-size: 7px 7px; }
/* line 38, common.scss */
a:hover h1, a:hover h3, a:hover p, a:hover span { color: rgba(0, 0, 0, 0); background: none; }

/* line 46, common.scss */
a:active { color: #000000; text-decoration: none; }

/* line 51, common.scss */
#all { width: 980px; margin: 0px auto; }
/* line 54, common.scss */
#all #global_header { position: relative; height: 230px; }
/* line 57, common.scss */
#all #global_header hr { background: transparent url("../img/pattern0@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 60, common.scss */
#all #global_header .title { position: absolute; left: 18px; top: 20px; background: transparent url("../img/block0@2x.png") no-repeat 0 16px; background-size: 86px 7px; padding-top: 60px; }
/* line 65, common.scss */
#all #global_header .title a { display: block; }
/* line 67, common.scss */
#all #global_header .title a h1 { text-indent: 100%; white-space: nowrap; overflow: hidden; display: block; width: 235px; height: 121px; display: inline-block; background: url("../img/logo@2x.png") no-repeat 0 0; background-size: 235px 121px; }
/* line 79, common.scss */
#all #global_header nav { position: absolute; left: 350px; top: 20px; background: transparent url("../img/block0@2x.png") no-repeat 0 16px; background-size: 86px 7px; padding-top: 60px; }
/* line 84, common.scss */
#all #global_header nav ul { padding-top: 0px; }
/* line 86, common.scss */
#all #global_header nav ul li { display: inline-block; border-right: 1px solid #cccccc; }
/* line 93, common.scss */
#all #global_header nav ul li:last-child { border-right: none; }
/* line 96, common.scss */
#all #global_header nav ul li a { color: #000000; display: block; padding-left: 20px; padding-right: 20px; }
/* line 102, common.scss */
#all #global_header nav ul li .serif { font-weight: bold; font-size: 14px; margin-bottom: 5px; }
/* line 108, common.scss */
#all #global_header nav ul li .en { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 10px; }
/* line 113, common.scss */
#all #global_header nav ul.social { margin-top: 10px; border-top: 1px solid #CCCCCC; padding-top: 10px; }
/* line 118, common.scss */
#all #global_header nav ul.social li .en { font-size: 12px; }
/* line 125, common.scss */
#all #global_header .search { position: absolute; right: 20px; top: 36px; width: 180px; }
/* line 130, common.scss */
#all #global_header .search input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #cccccc; width: 180px; height: 36px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
/* line 141, common.scss */
#all #heroes { height: 200px; margin-bottom: 40px; }
/* line 145, common.scss */
#all #heroes .inner .img1 { background: transparent url("../img/pattern2@2x.png") repeat 0 0; background-size: 35px 35px; background-position: 0px 0px; height: 200px; -webkit-animation-name: heroes_animation; -moz-animation-name: heroes_animation; -ms-animation-name: heroes_animation; -o-animation-name: heroes_animation; animation-name: heroes_animation; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: normal; -moz-animation-direction: normal; -ms-animation-direction: normal; -o-animation-direction: normal; animation-direction: normal; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; -ms-animation-timing-function: linear; -o-animation-timing-function: linear; animation-timing-function: linear; }
/* line 162, common.scss */
#all #main { width: 100%; display: -webkit-box; display: -moz-box; }
/* line 166, common.scss */
#all #main .contents { width: 680px; display: block; vertical-align: top; }
/* line 170, common.scss */
#all #main .contents .post { display: inline-block; width: 297px; padding: 0px 14px 20px 20px; vertical-align: top; }
/* line 176, common.scss */
#all #main .contents .post hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 5px 5px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 180, common.scss */
#all #main .contents .post .container { background: transparent url("../img/block1@2x.png") no-repeat 0 16px; background-size: 86px 8px; padding-top: 60px; padding-top: 40px; }
/* line 183, common.scss */
#all #main .contents .post .container > .date { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 30px; margin-bottom: 20px; display: inline-block; text-transform: uppercase; }
/* line 192, common.scss */
#all #main .contents .post .container .body img { width: 100%; }
/* line 195, common.scss */
#all #main .contents .post .container .body iframe { width: 100%; }
/* line 198, common.scss */
#all #main .contents .post .container .body a { text-decoration: underline; }
/* line 200, common.scss */
#all #main .contents .post .container .body a:hover { text-decoration: none; }
/* line 207, common.scss */
#all #main .contents .post .container .body blockquote { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; line-height: 140%; margin-bottom: 20px; }
/* line 216, common.scss */
#all #main .contents .post .container .images img { margin-bottom: 20px; }
/* line 220, common.scss */
#all #main .contents .post .container h1 { font-weight: bold; font-size: 14px; margin-bottom: 10px; }
/* line 225, common.scss */
#all #main .contents .post .container p { color: #333333; font-size: 12px; margin-bottom: 20px; }
/* line 230, common.scss */
#all #main .contents .post .container .tags { margin-bottom: 20px; font-size: 12px; }
/* line 233, common.scss */
#all #main .contents .post .container .tags a { opacity: 0.5; }
/* line 237, common.scss */
#all #main .contents .post .container footer { color: #cccccc; border-top: 1px solid #cccccc; margin-top: 10px; padding-top: 10px; font-size: 12px; display: table; clear: both; position: relative; width: 100%; }
/* line 247, common.scss */
#all #main .contents .post .container footer .meta { display: table-cell; vertical-align: middle; }
/* line 250, common.scss */
#all #main .contents .post .container footer .meta .notes { color: #cccccc; font-weight: bold; }
/* line 255, common.scss */
#all #main .contents .post .container footer .post-controls { display: table-cell; text-align: right; }
/* line 264, common.scss */
#all #main .side { width: 279px; margin-right: 20px; display: inline-block; }
/* line 268, common.scss */
#all #main .side hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 5px 5px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 271, common.scss */
#all #main .side .box { background: transparent url("../img/block1@2x.png") no-repeat 0 16px; background-size: 86px 8px; padding-top: 60px; line-height: 140%; }
/* line 274, common.scss */
#all #main .side .box:last-child { border-bottom: none; }
/* line 278, common.scss */
#all #main .side .box > p { margin: 0 20px; line-height: 180%; font-size: 11px; color: #666666; }
/* line 284, common.scss */
#all #main .side .box > .twitter_container { margin: 0 10px 20px; }
/* line 287, common.scss */
#all #main .side .box header { margin: 0px 20px 15px; text-align: center; }
/* line 290, common.scss */
#all #main .side .box header a { display: block; }
/* line 293, common.scss */
#all #main .side .box header h3 { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 32px; margin-bottom: 5px; display: inline-block; text-align: left; }
/* line 300, common.scss */
#all #main .side .box header p { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 12px; }
/* line 305, common.scss */
#all #main .side .box .fb-like-box { width: 279px; }
/* line 308, common.scss */
#all #main .side .box footer { margin: 15px 20px 20px; font-size: 11px; }
/* line 311, common.scss */
#all #main .side .box footer a { font-size: 11px; font-weight: bold; color: #ff7f00; }
/* line 321, common.scss */
#all .pagenation { position: relative; height: 180px; }
/* line 324, common.scss */
#all .pagenation hr { background: transparent url("../img/pattern0@2x.png") repeat 0 0; background-size: 4px 4px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 328, common.scss */
#all .pagenation a { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 32px; }
/* line 332, common.scss */
#all .pagenation .prev_next { background: transparent url("../img/block2@2x.png") no-repeat 0 16px; background-size: 88px 7px; padding-top: 60px; position: absolute; left: 20px; top: 25px; }
/* line 337, common.scss */
#all .pagenation .prev_next a { padding-left: 15px; padding-right: 15px; border-right: 1px solid #cccccc; }
/* line 341, common.scss */
#all .pagenation .prev_next a:last-child { border-right: none; }
/* line 344, common.scss */
#all .pagenation .prev_next a.current-page { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 5px 5px; }
/* line 350, common.scss */
#all .pagenation .back { position: absolute; right: 20px; top: 25px; }
/* line 356, common.scss */
#all .follow { border-top: 1px solid #cccccc; padding: 10px 0px 10px 10px; }
/* line 360, common.scss */
#all .follow ul li { display: inline-block; margin-right: 10px; }
/* line 366, common.scss */
#all #global_footer { position: relative; height: 142px; margin-bottom: 100px; }
/* line 370, common.scss */
#all #global_footer hr { background: transparent url("../img/pattern1@2x.png") repeat 0 0; background-size: 5px 5px; width: 100%; height: 12px; display: block; border: none; margin: 0; padding: 0; }
/* line 375, common.scss */
#all #global_footer .copyright { background: transparent url("../img/block3@2x.png") no-repeat 0 16px; background-size: 96px 7px; padding-top: 60px; position: absolute; left: 0px; top: 10px; color: #000000; font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 24px; }
/* line 385, common.scss */
#all #global_footer .links { background: transparent url("../img/block0@2x.png") no-repeat 0 16px; background-size: 86px 7px; padding-top: 60px; position: absolute; right: 0px; top: 10px; }
/* line 390, common.scss */
#all #global_footer .links li { display: block; margin-left: 0px; }
/* line 394, common.scss */
#all #global_footer .links li a { font-family: 'Text Me One', sans-serif; line-height: 1.2em; letter-spacing: 0.2em; font-size: 24px; }

/* line 406, common.scss */
.post-controls { display: table-cell; vertical-align: middle; }
/* line 409, common.scss */
.post-controls > ul { float: right; margin-right: 0px; }
/* line 412, common.scss */
.post-controls > ul > li { float: left; height: 28px; position: relative; width: 40px; }
/* line 417, common.scss */
.post-controls > ul > li:first-child { border-left: none; }
/* line 420, common.scss */
.post-controls > ul > li a { display: block; height: 21px; margin: 4px auto auto; text-decoration: none; }
/* line 426, common.scss */
.post-controls > ul > li .share { background: transparent url("../img/icon_share@2x.png") no-repeat 0 0; background-size: 23px 20px; width: 23px; height: 20px; margin-top: 2px; opacity: 0.355; }
/* line 433, common.scss */
.post-controls > ul > li .share:hover { opacity: 0.455; }
/* line 437, common.scss */
.post-controls > ul > li .reblog_button { margin: 3px 10px 0; opacity: 0.355; }
/* line 440, common.scss */
.post-controls > ul > li .reblog_button :hover { opacity: 0.455; }
/* line 444, common.scss */
.post-controls > ul > li .like_button { display: block; height: 20px; margin: 3px auto auto; width: 21px; opacity: 0.355; position: relative; }
/* line 451, common.scss */
.post-controls > ul > li .like_button:hover { opacity: 0.455; }
/* line 454, common.scss */
.post-controls > ul > li .like_button.interacted.liked:after { content: '\e601'; color: #cd1828; font-family: 'optica-icons', 'Blank'; font-size: 70px; height: 40px; width: 40px; -webkit-animation: wiggle 0.6s ease-out; -o-animation: wiggle 0.6s ease-out; -ms-animation: wiggle 0.6s ease-out; -moz-animation: wiggle 0.6s ease-out; animation: wiggle 0.6s ease-out; position: absolute; margin-top: -75px; left: -26px; z-index: 0; opacity: 0; speak: none; -webkit-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; transform-origin: 100% 100%; }
/* line 478, common.scss */
.post-controls > ul > li .like_button.liked { opacity: 1; }
/* line 481, common.scss */
.post-controls > ul > li .like_button iframe { position: relative; z-index: 1; vertical-align: top; }

/* line 490, common.scss */
.pop-menu { display: none; background: #fff; border-radius: 4px; position: absolute; bottom: 35px; left: 0px; width: 146px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); z-index: 10; }
/* line 502, common.scss */
.pop-menu ul { float: none; margin: 0 !important; padding: 0; text-align: left; }
/* line 507, common.scss */
.pop-menu ul li { border-left: none; float: none; height: auto; position: relative; width: auto; }
/* line 513, common.scss */
.pop-menu ul li.search { border-bottom: 1px solid #eee; }
/* line 516, common.scss */
.pop-menu ul li:not(.no-hover):hover { background: #e6eff7; }
/* line 519, common.scss */
.pop-menu ul li:last-child { border-bottom: none; }
/* line 522, common.scss */
.pop-menu ul li::last-child:hover { border-radius: 0 0 4px 4px; }
/* line 525, common.scss */
.pop-menu ul li:last-child:hover:after { background: #e6eff7; }
/* line 528, common.scss */
.pop-menu ul li:first-child { border-top: none; }
/* line 531, common.scss */
.pop-menu ul li a { background: none; color: #444; display: block; font-size: 14px; height: auto; margin: 0; padding: 6px 10px 6px 10px; position: relative; text-decoration: none; width: auto; }
/* line 542, common.scss */
.pop-menu ul li a .icon-arrow_carrot_right { font-size: 11px; position: absolute; right: 8px; top: 50%; margin-top: -1px; }
/* line 552, common.scss */
.pop-menu.show { display: block; opacity: 0; }
/* line 556, common.scss */
.pop-menu.active { opacity: 1; }

/* line 561, common.scss */
.share-menu { bottom: 30px; }
/* line 563, common.scss */
.share-menu.active { bottom: 35px; }
/* line 568, common.scss */
.share-menu ul li.open-in-app { display: none; }
/* line 571, common.scss */
.share-menu ul li a { opacity: 1; }
/* line 573, common.scss */
.share-menu ul li a:hover { opacity: 1; }

/* line 585, common.scss */
body.page-permalink #all #main .contents { width: 620px; padding-right: 60px; }
/* line 588, common.scss */
body.page-permalink #all #main .contents .post { width: 100%; }
/* line 591, common.scss */
body.page-permalink #all #main .contents .post .container > .date { font-size: 60px; }

/* line 602, common.scss */
body.page- .pagenation { display: none; }
/* line 610, common.scss */
body.page- #all #main .post .container header { margin-top: 20px; margin-bottom: 60px; }
/* line 611, common.scss */
body.page- #all #main .post .container header h1 { font-size: 30px; }
/* line 619, common.scss */
body.page- #all #main .post .container footer .post-controls { display: none; }
/* line 624, common.scss */
body.page- #all #main .post .container .body img { width: auto; }
/* line 629, common.scss */
body.page- #all #main .post .container #mission h3 { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 42px; margin-bottom: 14px; font-weight: bold; margin-bottom: 40px; }
/* line 636, common.scss */
body.page- #all #main .post .container #mission .figure { display: inline-block; vertical-align: top; text-align: center; width: 240px; }
/* line 641, common.scss */
body.page- #all #main .post .container #mission .figure img { width: 240px; margin-bottom: 10px; }
/* line 645, common.scss */
body.page- #all #main .post .container #mission .figure .position { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; font-size: 10px; margin-bottom: 4px; }
/* line 650, common.scss */
body.page- #all #main .post .container #mission .figure .name { font-size: 14px; }
/* line 655, common.scss */
body.page- #all #main .post .container #mission .message { display: inline-block; width: 340px; vertical-align: top; margin-right: 20px; }
/* line 660, common.scss */
body.page- #all #main .post .container #mission .message p { line-height: 180%; font-size: 14px; }
/* line 668, common.scss */
body.page- #all #main .post .container #officer > ul > li { border-top: 1px solid #cccccc; margin-top: 20px; padding-top: 20px; }
/* line 672, common.scss */
body.page- #all #main .post .container #officer > ul > li .icon { display: inline-block; vertical-align: top; margin-right: 20px; }
/* line 676, common.scss */
body.page- #all #main .post .container #officer > ul > li .icon img { width: 80px; height: 80px; }
/* line 681, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile { display: inline-block; vertical-align: top; width: 500px; }
/* line 685, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile .position { font-family: "Times New Roman", "YuMincho", YuMincho, "游明朝", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif; margin-bottom: 10px; font-size: 14px; font-weight: bold; }
/* line 691, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile h3 { font-size: 30px; margin-bottom: 14px; font-weight: bold; }
/* line 699, common.scss */
body.page- #all #main .post .container #officer > ul > li .profile .links a { padding: 0 5px; border-right: 1px solid #cccccc; }

@-webkit-keyframes heroes_animation { /* line 721, common.scss */
  0% { background-position: 0px 0px; }
  /* line 724, common.scss */
  100% { background-position: 35px 35px; } }

@-moz-keyframes heroes_animation { /* line 721, common.scss */
  0% { background-position: 0px 0px; }
  /* line 724, common.scss */
  100% { background-position: 35px 35px; } }

@-ms-keyframes heroes_animation { /* line 721, common.scss */
  0% { background-position: 0px 0px; }
  /* line 724, common.scss */
  100% { background-position: 35px 35px; } }

@keyframes heroes_animation { /* line 721, common.scss */
  0% { background-position: 0px 0px; }
  /* line 724, common.scss */
  100% { background-position: 35px 35px; } }
