$white : #FFFFFF;
$pink : #FF3051;
$bg_color: #FFFFE3;
$facebook_color : #36549C;
$twitter_color : #00A3D9;
$gray: #CCCCCC;
$orange: #FF7F00;

// Width
$width-pc: 940px;
$width-tablet: 768px;
$width-smartphone: 568px;
$width-scrollbar: 20px;
$width-menu: 180px;